# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VR Chariots.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\VR Chariots\VR Chariots\.idea\.idea.VR Chariots\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
